<app-hero></app-hero>
@defer(on idle){
    <app-statistics></app-statistics>
}
@placeholder{
    <div>Loading...</div>
}
<!-- make defer to each component -->
 @defer(on idle){
    <app-courses-preview></app-courses-preview>
 }
 @placeholder{
    <div>Loading...</div>
}
 @defer(on idle){
    <app-features></app-features>
 }
 @placeholder{
    <div>Loading...</div>
}
 @defer(on idle){
    <app-journey></app-journey>
 }
 @placeholder{
    <div>Loading...</div>
}
 @defer(on idle){
    <app-mentors></app-mentors>
 }
 @placeholder{
    <div>Loading...</div>
}
 @defer(on idle){
    <app-partners></app-partners>
 }
 @placeholder{
    <div>Loading...</div>
}
 @defer(on idle){
    <app-feedback></app-feedback>
 }
 @placeholder{
    <div>Loading...</div>
}
 @defer(on idle){
    <app-faq></app-faq>
 }
 @placeholder{
    <div>Loading...</div>
}
