<section class="bg-white py-16">
  <div class="max-w-7xl mx-auto px-4 lg:px-8">
    <h2 class="text-3xl font-bold text-gray-800 text-center mb-12">Meet Our Mentors</h2>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
      <div class="text-center">
@defer (on idle) {
  <img src="assets/person1.jpeg" class="w-32 h-32 rounded-full mx-auto mb-4 object-cover shadow-md" alt="Mentor">
}
        <h3 class="text-lg font-semibold text-gray-700">sarah Mohamed</h3>
        <p class="text-gray-500 text-sm">Data Science Expert</p>
      </div>
      <div class="text-center">
        <img src="assets/person2.jpeg" class="w-32 h-32 rounded-full mx-auto mb-4 object-cover shadow-md" alt="Mentor">
        <h3 class="text-lg font-semibold text-gray-700">Michael Lee</h3>
        <p class="text-gray-500 text-sm">UI/UX Designer</p>
      </div>
      <div class="text-center">
        @defer (on idle) {
          <img src="assets/person3.jpeg" class="w-32 h-32 rounded-full mx-auto mb-4 object-cover shadow-md" alt="Mentor">
        }
        <h3 class="text-lg font-semibold text-gray-700">Aisha Khan</h3>
        <p class="text-gray-500 text-sm">Web Development</p>
      </div>
      <div class="text-center">
        @defer (on idle) {
          <img src="assets/person4.jpg" class="w-32 h-32 rounded-full mx-auto mb-4 object-cover shadow-md" alt="Mentor">
        }
        <h3 class="text-lg font-semibold text-gray-700">David Smith</h3>
        <p class="text-gray-500 text-sm">Business Strategy</p>
      </div>
    </div>
  </div>
</section>
