<div class="bg-white rounded-xl shadow hover:shadow-lg overflow-hidden transition">
  <!-- الصورة -->
  <img [src]="course.thumbnailURL"
       alt="{{ course.courseTitle }}"
       class="w-full h-48 object-cover" />

  <div class="p-4">
    <!-- عنوان الكورس -->
    <h3 class="text-lg font-semibold">{{ course.courseTitle }}</h3>
    
    <!-- اسم المحاضر -->
    <p class="text-sm text-gray-500 mb-2">By {{ course.instructorName }}</p>
    
    <!-- التصنيف -->
    <p class="text-xs text-gray-400 mb-3">Category: {{ course.categoryName }}</p>

    <!-- السعر مع الخصم -->
    <div class="flex justify-between items-center">
      <span class="text-indigo-600 font-bold">
        @if(course.discountValue === 0){
          {{ course.totalAmount}}
        } 
        @else{
            ${{ course.totalAmount - course.discountValue}}
          <span class="line-through text-gray-400 text-sm ml-1">
            {{ course.totalAmount | currency }}
          </span>
        }
      </span>

      <a [routerLink]="['/coursevideo', course.id]"
         class="text-sm text-indigo-500 hover:underline">
        View Course
      </a>
    </div>
  </div>
</div>
